aiofiles==0.7.0
altgraph==0.16.1
asn1crypto==0.24.0
astroid==2.3.3
attrs==19.3.0
autopep8==1.5.5
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
bs4==0.0.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
cryptography==2.9
decorator==4.4.1
defusedxml==0.6.0
entrypoints==0.3
fastapi==0.63.0
Flask==1.1.1
future==0.17.1
h11==0.12.0
idna==2.8
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.10.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.2
jwt==0.6.1
lazy-object-proxy==1.4.3
lxml==4.3.3
macholib==1.11
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mutagen==1.42.0
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
pandocfilters==1.4.2
parso==0.6.1
pefile==2018.8.8
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==3.0.3
pycodestyle==2.6.0
pycparser==2.19
pydantic==1.8.1
Pygments==2.5.2
PyInstaller==3.4
PyJWT==1.7.1
pylint==2.4.4
pyOpenSSL==19.1.0
PyPDF2==1.26.0
pyrsistent==0.15.7
python-dateutil==2.8.1
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.21.0
rope==0.18.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.13.0
soupsieve==1.8
spark-parser==1.8.9
starlette==0.13.6
terminado==0.8.3
testpath==0.4.4
toml==0.10.2
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.0
typing-extensions==3.7.4.3
uncompyle6==3.6.4
urllib3==1.24.1
uvicorn==0.13.4
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
xdis==4.2.2
zipp==2.2.0
