option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "apps:app"

packages:
  yum:
    python3-devel: []
    postgresql-devel: []

container_commands:
  01_start_app:
    command: |
        "pip install -r requirements.txt"
        "gunicorn -b :8000 apps:app -k uvicorn.workers.UvicornWorker"