option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "apps:app"

packages:
  yum:
    python3-devel: []
    amazon-linux-extras: []

commands:
  01_postgres_activate:
      command: sudo amazon-linux-extras enable postgresql14
  02_postgres_install:
      command: sudo yum install -y postgresql-devel

container_commands:
  01_start_app:
    command: |
        "pip install -r requirements.txt"
        "gunicorn -b :8000 apps:app -k uvicorn.workers.UvicornWorker"