<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href=../static/css/main.css>
    {% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div id="footer-content">
        {% include 'footer.html' %}
        </div>
    </footer>
    {% block scripts %}
    <script src="../static/js/quiz.js"></script>
    <script src="../static/js/btn-event.js"></script>
    {% endblock %}
</body>
</html>