{% extends "layout.html" %}
{% block title %} 채팅 {% endblock %}
{% block content %}
    <div class="d-flex flex-column justify-content-center container">
        <div class="text-center">
            <h1>채팅</h1>
        </div>
        <div class="text-center">
            <h2>Your ID: <span id="ws-id"></span></h2>
        </div>
        <div id="chatting-div" class="d-flex justify-content-center row">
            <div id="messages-div" class="d-flex flex-column col-5 col">
                <div>채팅방</div>
                <ul id='messages'></ul>
            </div>
            <div id="chatting-users-container" class="d-flex flex-column col-2">
                <div class="text-nowrap">접속 유저</div>
                <div id="chatting-users-div"></div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-md-2 d-flex">
                <label class="d-block text-nowrap" for="sendTo">send to:</label>
                <input class="form-control" type="text" id="sendTo" autocomplete="off"/>
            </div>
            <div class="col-md-4 d-flex">
                <label class="d-block" for="messageText">message:</label>
                <input class="form-control" type="text" id="messageText" autocomplete="off"/>
            </div>
            <div class="d-flex">
                <button class="btn btn-primary mt-auto" id="message-send">Send</button>
            </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="../static/js/ws-chatting.js"></script>
    <script>
        document.getElementById("message-send").addEventListener('click', (e) => {
            sendMessage(e)
        });
    </script>
{% endblock %}