{% extends "layout.html" %}
{% block title %} 자유 게시판 {% endblock %}
{% block content %}
    <div class="d-flex flex-column">
    <div class="d-flex justify-content-between mt-4">
<h1>자유 게시판 </h1> <a href="/write"><button class="btn btn-light">글 쓰기</button></a>
        </div>
<div id="contain-table">
    <table id="result">
        <thead>
            <tr>
                <th>제목</th><th>글쓴이</th><th>시간</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
    <div class="container d-flex justify-content-center">
    <nav>
        <ul class="pagination" id="page-list">
        </ul>
    </nav>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="module">
        import {articleFunction} from "../static/js/community.js";
        window.onload = articleFunction.loadArticleList();
    </script>
{% endblock %}