{% extends "layout.html" %}
{% block title %} 무한 모드 {% endblock %}
{% block content %}
    <div class="d-flex flex-column">
{% include 'quiz_block.html' %}
    <form onsubmit="return false;">
        <label for="answer">정답 : </label>
        <input type="text" id="answer">
        <input id="submitBtn" class="btn btn-primary" type="submit" value="제출">
        <input class="getNextBtn" id="getRandomImageBtn" type="hidden" value="다음">
    </form>
{% include 'answer_block.html' %}
    <form>
        <label><input type="checkbox" name="hiragana" value="hiragana" id="inf-hiragana" checked> 히라가나 </label>
        <label><input type="checkbox" name="katakana" value="katakana" id="inf-katakana" checked> 카타가나 </label>
        <label><input type="checkbox" name="weighted" value="weighted" id="is-weighted"> 가중치 적용 </label>
    </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="module">
        import {btnFunction} from "../static/js/btn-event.js";
        document.getElementById("quiz").onload = btnFunction.getRandomImageUrl();
    </script>
{% endblock %}
