{% extends "layout.html" %}
{% block title %} 점수판 {% endblock %}
{% block content %}
    <div id="score-board-wrapper" class="container justify-content-center d-flex">
        <div id="score-board-hiragana" class="m-2">
            <div>히라가나</div>
        </div>
        <div id="score-board-katakana" class="m-2">
            <div>카타카나</div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="module">
        import {requestScoreBoard} from "../static/js/scoreboard.js";
        document.addEventListener('DOMContentLoaded', requestScoreBoard);
    </script>
{% endblock %}