{% extends "layout.html" %}
{% block title %} 글쓰기 {% endblock %}
{% block content %}
    <div class="col-md-6 d-flex justify-content-center flex-column" id="contain-article-write">
        <input class="form-control" id="input-title" type="text" name="title" placeholder="제목을 입력해주세요.">
            <textarea class="form-control no-resize" id="input-content" name="contents" placeholder="내용을 입력해주세요."></textarea>
        <input class="btn btn-primary" id="sendArticleBtn" type="button" value="저장">
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="module">
        import {articleFunction} from "../static/js/community.js";

        document.querySelector("#sendArticleBtn").addEventListener("click", articleFunction.sendArticle);
    </script>
{% endblock %}